commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update && /usr/bin/composer.phar global require "fxp/composer-asset-plugin:1.0.0"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

#container_commands:
  #300-run-composer-update:
    #command: "composer.phar update"
    #command: "composer.phar update"
  #310-run-composer:
    #command: "composer.phar install --optimize-autoloader --prefer-dist --no-interaction"
    #command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
