commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
    290-run-composer:
      command: "composer.phar update"
    300-run-composer:
      command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
